/ac97.ko
/ata.ko
/crash.ko
/debug_shell.ko
/dospart.ko
/ext2.ko
/hda.ko
/irc.ko
/lfbvideo.ko
/net.ko
/packetfs.ko
/pcspkr.ko
/procfs.ko
/ps2kbd.ko
/ps2mouse.ko
/random.ko
/rtl.ko
/serial.ko
/snd.ko
/test-write.ko
/test.ko
/testb.ko
/tmpfs.ko
/usbuhci.ko
/vgadbg.ko
/vgalog.ko
/xtest.ko
/zero.ko
/null.ko
/usbhci.ko
